modules/opc-ua-server/NodeRedOPCSim/opcuasim/flows.json
[{"id":"734940c2.bc08a","type":"tab","label":"OPC UA Server"},{"id":"7406899d.664138","type":"debug","z":"734940c2.bc08a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":180,"wires":[]},{"id":"b9153a08.a9a008","type":"OpcUa-Server","z":"734940c2.bc08a","port":"53880","name":"OPC-UA Server","endpoint":"UA/SimpleNodeRedServer","x":520,"y":180,"wires":[["7406899d.664138"]]},{"id":"378a07f5.fc1b78","type":"OpcUa-Client","z":"734940c2.bc08a","endpoint":"c922b7be.326528","action":"read","deadbandvalue":"","time":10,"timeUnit":"s","localfile":"","name":"READ","x":630,"y":540,"wires":[["aa7148c.c9427b8"]]},{"id":"7fb9dde2.cd94d4","type":"debug","z":"734940c2.bc08a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":340,"wires":[]},{"id":"7ee1f46e.2532fc","type":"OpcUa-Client","z":"734940c2.bc08a","endpoint":"c922b7be.326528","action":"write","deadbandvalue":"","time":10,"timeUnit":"s","localfile":"","name":"WRITE ","x":980,"y":340,"wires":[["7fb9dde2.cd94d4"]]},{"id":"c1d3b581.5565b8","type":"OpcUa-Item","z":"734940c2.bc08a","item":"ns=1;s=STATUS","datatype":"UInt16","value":"","name":"STATUS","x":640,"y":300,"wires":[["7ee1f46e.2532fc"]]},{"id":"1c17ef47.2fca11","type":"inject","z":"734940c2.bc08a","name":"STATUS","topic":"ns=1;s=STATUS;datatype=UInt16","payload":"{\"opcuaCommand\":\"addVariable\",\"nodeName\":\"STATUS\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"2","x":140,"y":140,"wires":[["b9153a08.a9a008"]]},{"id":"af8fece4.e8219","type":"OpcUa-Item","z":"734940c2.bc08a","item":"ns=1;s=STATUS","datatype":"UInt16","value":"","name":"","x":340,"y":500,"wires":[["378a07f5.fc1b78"]]},{"id":"1fa2df59.556751","type":"inject","z":"734940c2.bc08a","name":"Read","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":560,"wires":[["af8fece4.e8219","2f31e748.714458","2c3500f0.b4ddb"]]},{"id":"53ddf0a6.ee9e3","type":"function","z":"734940c2.bc08a","name":"Initialize","func":"flow.set('status',0);\nflow.set(\"prev_status_timestamp\", Date.now()-600000);\nflow.set('item_count_good', 0);\nflow.set('item_count_bad', 0);\n\nmsg.payload = [\n    'Sim Variables Initialized',\n    flow.get('status'),\n    flow.get('item_count_good'),\n    flow.get('item_count_bad'),\n    flow.get('prev_status_timestamp'),\n]\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":60,"wires":[["32559239.f3eace"]]},{"id":"7d1b55d8.76d48c","type":"inject","z":"734940c2.bc08a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":60,"wires":[["53ddf0a6.ee9e3"]]},{"id":"32559239.f3eace","type":"debug","z":"734940c2.bc08a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":60,"wires":[]},{"id":"aa7148c.c9427b8","type":"debug","z":"734940c2.bc08a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":540,"wires":[]},{"id":"4bd39ee6.f634b","type":"function","z":"734940c2.bc08a","name":"Generate Values","func":"// flow.set('isoInput1', Math.random() + 11.0) interval comes from server\nvar prevStatus = flow.get('status');\nvar prevStatusTimestamp = flow.get('prev_status_timestamp');\nvar curStatus;\nvar itemCountGood;\nvar itemCountBad;\n\nif (Date.now()-prevStatusTimestamp>600000)\n{\n curStatus= (Math.random()<0.9?1.0:0.0);\n prevStatusTimestamp=Date.now();\n node.warn('status changed '+ String(curStatus) + ' from ' + prevStatus + ' at ' + prevStatusTimestamp.toString() );\n}\nelse\n curStatus = prevStatus;\n\n\nif (curStatus===1.0)\n{\n    itemCountGood = 80.0+Math.round(Math.random()*41);\n    itemCountBad = parseFloat(Math.round(Math.random()*11));\n}\nelse\n{\n    itemCountGood = 0.0;\n    itemCountBad = 0.0;\n}\n\nflow.set('prev_status_timestamp', prevStatusTimestamp);\nflow.set('status', curStatus) ;\nflow.set('item_count_good', itemCountGood);\nflow.set('item_count_bad', itemCountBad);\n\nvar msg1 = {payload : flow.get('status')};\nvar msg2 = {payload : flow.get('item_count_good')};\nvar msg3 = {payload : flow.get('item_count_bad')};\n\nreturn [msg1,msg2,msg3];","outputs":3,"noerr":0,"x":390,"y":340,"wires":[["c1d3b581.5565b8"],["9f365f9f.d4acb"],["225a834d.3eb25c"]]},{"id":"1b5c18b5.3608c7","type":"inject","z":"734940c2.bc08a","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0.5","x":160,"y":340,"wires":[["4bd39ee6.f634b"]]},{"id":"9f365f9f.d4acb","type":"OpcUa-Item","z":"734940c2.bc08a","item":"ns=1;s=ITEM_COUNT_GOOD","datatype":"UInt16","value":"","name":"ITEM_COUNT_GOOD","x":680,"y":340,"wires":[["7ee1f46e.2532fc"]]},{"id":"225a834d.3eb25c","type":"OpcUa-Item","z":"734940c2.bc08a","item":"ns=1;s=ITEM_COUNT_BAD","datatype":"UInt16","value":"","name":"ITEM_COUNT_BAD","x":680,"y":380,"wires":[["7ee1f46e.2532fc"]]},{"id":"fb113e8d.00688","type":"inject","z":"734940c2.bc08a","name":"ITEM_COUNT_GOOD","topic":"ns=1;s=ITEM_COUNT_GOOD;datatype=UInt16","payload":"{\"opcuaCommand\":\"addVariable\",\"nodeName\":\"ITEMCOUNTGOOD\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"2","x":180,"y":180,"wires":[["b9153a08.a9a008"]]},{"id":"a0d49af3.9dc2b8","type":"inject","z":"734940c2.bc08a","name":"ITEM_COUNT_BAD","topic":"ns=1;s=ITEM_COUNT_BAD;datatype=UInt16","payload":"{\"opcuaCommand\":\"addVariable\",\"nodeName\":\"ITEMCOUNTBAD\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"2","x":180,"y":220,"wires":[["b9153a08.a9a008"]]},{"id":"2c3500f0.b4ddb","type":"OpcUa-Item","z":"734940c2.bc08a","item":"ns=1;s=ITEM_COUNT_BAD","datatype":"UInt16","value":"","name":"ITEM_COUNT_BAD","x":360,"y":620,"wires":[["378a07f5.fc1b78"]]},{"id":"2f31e748.714458","type":"OpcUa-Item","z":"734940c2.bc08a","item":"ns=1;s=ITEM_COUNT_GOOD","datatype":"UInt16","value":"","name":"ITEM_COUNT_GOOD","x":340,"y":560,"wires":[["378a07f5.fc1b78"]]},{"id":"c922b7be.326528","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://localhost:53880/UA/SimpleNodeRedServer","secpol":"None","secmode":"NONE","login":false}]