modules/opc-ua-server/NodeRedOPCSim/opcuasim/flows.json
[{"id":"ff0c4739.c60bc8","type":"tab","label":"OPC UA Server"},{"id":"26636061.58fa1","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://localhost:53880/UA/SimpleNodeRedServer","secpol":"None","secmode":"NONE","login":false},{"id":"3cdc412a.bccd4e","type":"debug","z":"ff0c4739.c60bc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":180,"wires":[]},{"id":"14f357cd.aacec8","type":"OpcUa-Server","z":"ff0c4739.c60bc8","port":"53880","name":"OPC-UA Server","endpoint":"UA/SimpleNodeRedServer","x":520,"y":180,"wires":[["3cdc412a.bccd4e"]]},{"id":"9b1bf57c.a13358","type":"OpcUa-Client","z":"ff0c4739.c60bc8","endpoint":"26636061.58fa1","action":"read","deadbandvalue":"","time":10,"timeUnit":"s","localfile":"","name":"READ","x":630,"y":540,"wires":[["32e3be03.66d822"]]},{"id":"8494a3d6.e345a","type":"debug","z":"ff0c4739.c60bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":340,"wires":[]},{"id":"6645187c.ccd868","type":"OpcUa-Client","z":"ff0c4739.c60bc8","endpoint":"26636061.58fa1","action":"write","deadbandvalue":"","time":10,"timeUnit":"s","localfile":"","name":"WRITE ","x":980,"y":340,"wires":[["8494a3d6.e345a"]]},{"id":"92bc6a50.cfaf98","type":"OpcUa-Item","z":"ff0c4739.c60bc8","item":"ns=1;s=STATUS","datatype":"UInt16","value":"","name":"STATUS","x":640,"y":300,"wires":[["6645187c.ccd868"]]},{"id":"1ab66e85.ad0921","type":"inject","z":"ff0c4739.c60bc8","name":"STATUS","topic":"ns=1;s=STATUS;datatype=UInt16","payload":"{\"opcuaCommand\":\"addVariable\",\"nodeName\":\"STATUS\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"2","x":140,"y":140,"wires":[["14f357cd.aacec8"]]},{"id":"cb578394.02bf7","type":"OpcUa-Item","z":"ff0c4739.c60bc8","item":"ns=1;s=STATUS","datatype":"UInt16","value":"","name":"","x":340,"y":500,"wires":[["9b1bf57c.a13358"]]},{"id":"1ba448be.e13547","type":"inject","z":"ff0c4739.c60bc8","name":"Read","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":560,"wires":[["cb578394.02bf7","78bd2fcb.0cfb4","4ea2225d.8f471c"]]},{"id":"b6c6cfa.23f323","type":"function","z":"ff0c4739.c60bc8","name":"Initialize","func":"flow.set('status',0);\nflow.set('prev_status_timestamp',0);\nflow.set('item_count_good', 0);\nflow.set('item_count_bad', 0);\nmsg.payload = \"Sim Variables Initialized\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":60,"wires":[["4592b57d.c4b2cc"]]},{"id":"ba925792.c81c38","type":"inject","z":"ff0c4739.c60bc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":60,"wires":[["b6c6cfa.23f323"]]},{"id":"4592b57d.c4b2cc","type":"debug","z":"ff0c4739.c60bc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":500,"y":60,"wires":[]},{"id":"32e3be03.66d822","type":"debug","z":"ff0c4739.c60bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":540,"wires":[]},{"id":"f552da2a.2121d8","type":"function","z":"ff0c4739.c60bc8","name":"Generate Values","func":"// flow.set('isoInput1', Math.random() + 11.0) interval comes from server\nvar prevStatus = flow.get('status');\nvar prevStatusTimestamp = flow.get('prev_status_timestamp');\nvar curStatus;\nvar itemCountGood;\nvar itemCountBad;\n\nif (Date.now()-prevStatusTimestamp>600000)\n{\n curStatus= (Math.random()<0.9?1.0:0.0);\n prevStatusTimestamp=Date.now();\n    \n}\nelse\n curStatus = prevStatus;\n\n\nif (curStatus===1.0)\n{\n    itemCountGood = 80.0+Math.round(Math.random()*41);\n    itemCountBad = parseFloat(Math.round(Math.random()*11));\n}\nelse\n{\n    itemCountGood = 0.0;\n    itemCountBad = 0.0;\n}\n\nflow.set('prev_status_timestamp', prevStatusTimestamp);\nflow.set('status', curStatus) ;\nflow.set('item_count_good', itemCountGood);\nflow.set('item_count_bad', itemCountBad);\n\nvar msg1 = {payload : flow.get('status')};\nvar msg2 = {payload : flow.get('item_count_good')};\nvar msg3 = {payload : flow.get('item_count_bad')};\n\nreturn [msg1,msg2,msg3];","outputs":3,"noerr":0,"x":390,"y":340,"wires":[["92bc6a50.cfaf98"],["28c82515.52a45a"],["12a1b145.e91def"]]},{"id":"dc6204ac.0a6f78","type":"inject","z":"ff0c4739.c60bc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":"0.5","x":160,"y":340,"wires":[["f552da2a.2121d8"]]},{"id":"28c82515.52a45a","type":"OpcUa-Item","z":"ff0c4739.c60bc8","item":"ns=1;s=ITEMCOUNTGOOD","datatype":"UInt16","value":"","name":"ITEMCOUNTGOOD","x":680,"y":340,"wires":[["6645187c.ccd868"]]},{"id":"12a1b145.e91def","type":"OpcUa-Item","z":"ff0c4739.c60bc8","item":"ns=1;s=ITEMCOUNTBAD","datatype":"UInt16","value":"","name":"ITEMCOUNTBAD","x":670,"y":380,"wires":[["6645187c.ccd868"]]},{"id":"c1c2021b.b579a","type":"inject","z":"ff0c4739.c60bc8","name":"ITEMCOUNTGOOD","topic":"ns=1;s=ITEMCOUNTGOOD;datatype=UInt16","payload":"{\"opcuaCommand\":\"addVariable\",\"nodeName\":\"ITEMCOUNTGOOD\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"2","x":180,"y":180,"wires":[["14f357cd.aacec8"]]},{"id":"1a00a09e.823fff","type":"inject","z":"ff0c4739.c60bc8","name":"ITEMCOUNTBAD","topic":"ns=1;s=ITEMCOUNTBAD;datatype=UInt16","payload":"{\"opcuaCommand\":\"addVariable\",\"nodeName\":\"ITEMCOUNTBAD\"}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"2","x":170,"y":220,"wires":[["14f357cd.aacec8"]]},{"id":"4ea2225d.8f471c","type":"OpcUa-Item","z":"ff0c4739.c60bc8","item":"ns=1;s=ITEMCOUNTBAD","datatype":"UInt16","value":"","name":"ITEMCOUNTBAD","x":350,"y":620,"wires":[["9b1bf57c.a13358"]]},{"id":"78bd2fcb.0cfb4","type":"OpcUa-Item","z":"ff0c4739.c60bc8","item":"ns=1;s=ITEMCOUNTGOOD","datatype":"UInt16","value":"","name":"ITEMCOUNTGOOD","x":340,"y":560,"wires":[["9b1bf57c.a13358"]]}]